html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
    padding: 50px 150px;
    color: #fff;
}

h1,
h3 {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.header__title {
    letter-spacing: 0.1em;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header__caption {
    text-align: center;
    font-size: 17px;
    max-width: 50%;
}

.articles {
    display: flex;
    justify-content: space-between;
    perspective: 400;
    -webkit-perspective: 400;
}

.article {
    position: relative;
    width: calc(33.3% - 30px);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 0 21px 10px;
    -webkit-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
    -webkit-transform-style: preserve-3d;
    transition: all 0.2s ease-in;
    min-height: 300px;
}

.article:hover {
    transform: rotateY(5deg);
}

.article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,adadad+53,000000+100&0+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(173, 173, 173, 0.48) 53%, rgba(0, 0, 0, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(173, 173, 173, 0.48) 53%, rgba(0, 0, 0, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(173, 173, 173, 0.48) 53%, rgba(0, 0, 0, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000', GradientType=0);
    /* IE6-9 */
}

.article__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.article__img {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 110%;
    height: 110%;
}

.article__date {
    position: absolute;
    z-index: 3;
    top: 35px;
    left: 35px;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}

.article__date b {
    font-size: 24px;
}

.article__footer {
    position: relative;
    z-index: 2;
}

.button {
    background: #f72b3b;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    -webkit-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in;
}

.button:hover {
    background: #f75764;
    cursor: pointer;
}

@media screen and (max-width: 1120px) {
    .articles {
        flex-wrap: wrap;
    }
    .article {
        width: calc(50% - 30px);
    }
    .article:last-child {
        margin: 0 auto;
    }
    .header__caption {
        max-width: 70%;
    }
    .button {
        margin-top: 40px;
    }
}

@media screen and (max-width: 920px) {
    .article {
        width: 100%;
    }
    .article:last-child {
        margin: unset;
    }
    .header__caption {
        max-width: 90%;
    }
    .button {
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px) {
    body {
        padding: 50px;
    }
}